<% unless users.empty? %>
  <div class="row">
    <% users.each do |user| %>
      <div class="col-md-4">
        <div class="text-center mb-3 p-2 border" style="height:11rem; border-radius: .8rem; background-color: #ccc;">
          <%= image_tag("default.png", size:"80x80", style:"object-fit: cover;", alt:"default_image", class:"rounded-circle") %>
          <div style="overflow: hidden">
            <%=link_to(user.name, user_path(user), class:"mt-1 font-weight-bold") %>
          </div>
          <% unless user.id == current_user.id %>
            <div class="align-bottom pt-2">
              <%= render 'relationships/follow_button', user: user %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= paginate users %>
  </div>
<% end %>