<div class="row">
  <div class="col-md-2 offset-md-1 mb-4 px-3">
    <%= render "user-profile-card", user: @user %>
  </div>
  <div class="col-md-8 px-3">
    <%= render "navtab", user: @user %>
    <%= render "microposts/microposts", microposts: @likes %>
  </div>
</div>